<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.admin.dao.UserDao">
    <resultMap id="UserResultMap" type="com.cloud.admin.entities.User">
        <id column="user_id" property="user_id"></id>
        <id column="username" property="username"></id>
        <id column="password" property="password"></id>
        <id column="phone" property="phone"></id>
        <id column="available" property="available"></id>
        <id column="chinaname" property="chinaname"></id>
        <id column="mail" property="mail"></id>
    </resultMap>
    <select id="selectUser" parameterType="String" resultMap="UserResultMap">
        select user_id,username,password,phone,available,chinaname,mail
        from user where username = #{username}
    </select>

    <insert id="userRegister" parameterType="com.cloud.admin.entities.User"  useGeneratedKeys="true" keyProperty="user_id">
        insert into user(username,password,phone,available,chinaname,mail,sex)
        values (#{username},#{password},#{phone},#{available},#{chinaname},#{mail},#{sex})
    </insert>

    <insert id="RoleOrUser" parameterType="Integer" >
        insert into role_user(role_id,user_id)
        values (#{role_id},#{user_id})
    </insert>
</mapper>